@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/*font-family: 'Inter', sans-serif;*/
/*font-family: 'Lexend Deca', sans-serif;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: white;
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

img {
    height: 240px;
    width: 327px;
    border-radius: 8px 8px 0 0;
    mix-blend-mode: multiply;
    opacity: .75;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

ul li p {
    text-transform: uppercase;
}

.card {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    max-width: 327px;
    min-height: 80vh;
    margin: 88px 0;
    border-radius: 8px;

}

.primary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.primary-section h1 {
    font-size: 28px;
    text-align: center;
    padding: 0 31.5px;
    line-height: 32px;
}

.primary-section h1 span {
    color: hsl(277, 64%, 61%);
    font-size: 28px;
}

.main-paragraph {
    padding: 16px 31px 40px;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.stats li {
    text-align: center;
}

.stats li span {
    font-size: 24px;
    font-weight: 700;
}

.stats li p {
    font-size: 12px;
    padding: 2px 0 24px;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.secondary-section {
    background-color: hsl(277, 64%, 61%);
    height: 240px;
    border-radius: 8px 8px 0 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}

.attribution p {
    font-size: 11px;
}

@media  (min-width: 1000px) {

    img {
        height: 446px;
        width: 540px;
    }

    ul  {
        flex-direction: row;
        padding: 72px 0 0 ;
        text-align: left;
    }

    ul li {
        padding: 0 75px 0 0;
    }

    .card {
        flex-direction: row;
        max-width: 1100px;
        min-height: 446px;
    }

    .primary-section {
        padding: 71px 72px 0;
        align-items: flex-start;
    }

    .primary-section h1,
    .primary-section h1 span {
        font-size: 36px;
        line-height: 44px;
        text-align: left;
        padding: 0;
    }

    .main-paragraph {
        padding: 25px 0 0;
        text-align: left;
    }

    .secondary-section {
        height: 446px;
    }
}
